:root {
  font-family: Inter, sans-serif;
  font-feature-settings: "liga" 1, "calt" 1; /* fix for Chrome */
}
@supports (font-variation-settings: normal) {
  :root {
    font-family: InterVariable, sans-serif;
  }
}

body {
  margin: 0;
  display: flex;
  justify-content: center; /* Horizontally centers the content */
  align-items: flex-start; /* Aligns content to the top */
  height: 100vh;
  background-color: #000; /* Fully black background */
}

.countdown-container {
  text-align: center;
  padding: 20px; /* Some padding */
  margin-top: 50px; /* Adjust this value to control vertical positioning */
}

h1 {
  font-size: 72px;
  color: #fff; /* White text color */
  font-weight: bold; /* Bold text */
}

#countdown {
  font-size: 64px;
  color: #fff; /* White text color */
  margin-top: 20px;
  font-weight: bold; /* Bold countdown text */
}
